
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(<%= asset_path 'about-bg.jpg' %>)">
   <div class="container">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <div class="page-heading">
                   <h1>About Insights</h1>
                   <hr class="small">
                   <span class="subheading">This is what we do.</span>
               </div>
           </div>
       </div>
   </div>
</header>

<!-- Main Content -->
<div class="container">
   <div class="row">
       <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
         <p>We provide an innovative technology solution for providing meaningful data analytics.<p>
         <ul>
           <li>Essentially we facilitate the collection of data</li>
           <li>Data is analysed in realtime as it is received</li>
           <li>Visual Insights provide the answers</li>
           </ul>
       </div>
   </div>
</div>
