<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">

</header>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-lg-offset-2 col-md-10 col-md-offset-1">
      Sample graph
    </div>
  </div>
</div>